body {
    
        background-color:  rgb(158 158 158);
        font-family: "Poppins", sans-serif;
      font-weight: 650;
      font-style: normal;
      display: flex;
    justify-items: center;
    align-items: center;
    height: 650px;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-style: normal;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 55%;
}

img {
    max-width: 80%;
}